# ------------- General -------------
**/node_modules/
**/.env
**/.env.*.local
**/.env.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/.DS_Store
**/coverage/

# ------------- Hardhat (Contracts) -------------
contracts/artifacts/
contracts/cache/
contracts/typechain/
contracts/typechain-types/
contracts/coverage.json
contracts/coverage/

# ------------- React Frontend -------------
frontend/build/
frontend/dist/
frontend/.eslintcache
frontend/.next/
frontend/out/

# ------------- Express Backend -------------
backend/dist/
backend/build/
backend/logs/
