PORT=3000
NODE_ENV=development
WORLD_ID_APP_ID=app_staging_xxxxxxxx
WORLD_ID_RP_ID="rp_xxxxxxxxxxxxxxxxxxxxxxxx"
WORLD_ID_ACTION=vote-registration
DEVELOPER_KEY=<your_worldcoin_developer_key>
ISSUER_PRIVATE_KEY=<base64_encoded_ed25519_pkcs8_key>